#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  /* border: 1px solid blue; */
  max-width: 40rem;
  margin: 0 auto;
}

input {
  height: 2rem;
  width: 20rem;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 1rem 1rem 0;
  padding: 0 1rem;
  font-size: 1rem;
}

input:focus {
  border: 2px solid blue;
}

button {
  outline: none;
  width: 6rem;
  height: 2.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: bold;
  background-color: blue;
  color: white;
}

.todos-container {
  max-width: 35rem;
  /* word-wrap: break-word; */
  padding: 0 5rem;
  color: #888585;
  font-size: 1.1rem;
}

.task {
  background-color: #ededfd;
  border-radius: 5px;
  max-width: inherit;
  padding: 0.6rem 4rem 0.6rem 1rem;
  text-align: left;
}
